name: build

on: [push]

jobs:
  build:
    name: windows-ironpython
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: NuGet/setup-nuget@v1.0.5
      - name: Install IronPython
        run: |
          choco install ironpython --version=2.7.8.1
      - name: Install dependencies
        run: |
          nuget install Grasshopper -OutputDirectory ./lib
      - name: Run
        run: |
          ipy componentize.py examples build
